<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body >

<div id="para1"></div>

<a href=""><h1> Name: Thanusha</h1></a>
<a href=""><h2>Illinois Institute of technology</h2></a>
<a href=""><h3>Chicago</h3></a>

<INPUT class="btn btn-primary" type="submit" value="DISMISS" onclick="dismiss(this.form)" >

<button onclick="callDemo()"> DEMO</button>

<script src="../js/formFunction.js"></script>
</body>
</html>