<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>



<div class="container">
    <p> Enter Username and Password </p>
<form action="#" class="form-horizontal" method="post">
    <P>
        <LABEL for="firstname">Username </LABEL>
        <INPUT type="text" id="Username"><BR>
        <LABEL for="lastname">Password </LABEL>
        <INPUT type="text" id="Password"><BR>
        <INPUT class="btn btn-primary" type="submit" value="SUBMIT" onclick="check(this.form)" > <INPUT type="RESET">
    </P>
</form>

    <script language="javascript">
        function check(form) {
            if(form.Username.value == "Thanu" && form.Password.value == "Thanu") {
                window.open('firstPage.html')
            }
            else {
                alert("Error Password or Username")
            }
        }
    </script>
    </div>


<script src="../js/formFunction.js"></script>
</body>
</html>